.OngoingEvent{
    width: 100%;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1ed6ff;
    animation: fadeIn 0.8s ease;
    border-radius: 20px;
}
.OngoingIcon{
    margin: 1rem 0;
}
.OngoingIcon ion-icon{
    color: darkred;
    background-color: #ffc93c;
    border-radius: 100%;
    border: 3px solid darkred;
    font-weight: bolder;
    font-size: 3rem;
}
.Heading_Container{
    width: 100%;
    margin-top: 0.5rem;
}
.Heading_MidLine{
    width: 100%;
    border-bottom: 5px solid#000;
    height: 1rem;
}
.Heading_Title{
    letter-spacing: 0.2rem;
    margin: 0 auto;
    margin-top: -2.6rem;
    padding: 0;
    font-family: 'Oswald';
    font-size: 2.8rem;
    font-weight: lighter;
    border-radius: 10px;
    width: fit-content;
    background-color: #1ed6ff;
}






@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(30%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}