.IdeaShow{
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.4rem;
    margin-top: 2rem;
    background-color: #fff;
    width: 18rem;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
    animation: fadeIn 0.9s ease-in-out;
}
.IdeaShow > div{
    margin-bottom: 0.8rem;
}
.IdeaShow h6{
    margin: 0;
    padding: 0;
}
.IdeaShow p{
    margin: 0;
}
.EventName{
    margin: 0.5rem 0 0 0;
    font-size: 1.5rem;
    font-family: 'Lato';
    letter-spacing: 0.3rem;
}
.BriefHeading{
    margin: 0;
}
.BriefPara{
    letter-spacing: 0.1rem;
    width: 90%;
    line-height: 1.5rem;
}

/*Author and Date*/
.AuthorDate{
    display: flex;
    justify-content: space-between;
    font-family: 'Arvo';
    margin: 1rem auto 0.8rem auto;
    width: 80%;
    font-weight: lighter;
    font-size: 1.2rem;
}

/*Contact To Support*/


@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}