
.Face_1{
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
    border-radius: 10px;
    font-family: 'Oswald';
    margin: 1rem 0 0 0;
    animation: fadeIn 0.3s ease;
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease-in-out;
}
.Vids{
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 30px;
    padding: 1rem;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}