.Entry{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 93%;
    height: 12rem;
    margin:0 auto;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
}
.Entry > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* Top Div: Ranking and PopOut button Styling */
.TopDiv{
    justify-content: space-between;
}
.Rank{
    margin: 0.3rem;
    font-family: 'Arvo';
    font-size: 3rem;
    text-shadow: 1px 0px 4px rgba(255, 255, 255, 0.575);
}
.PopOut{
    display: flex;
    justify-content: center;
    border-radius: 100%;
    background-color: rgba(64, 224, 208, 0.356);
    box-shadow: 0px 0px 10px #000;
    margin-right: 1rem;
    height: 2.4rem;
    width: 2.4rem;
    cursor: pointer;
}
.PopOut ion-icon{
    margin: auto 0;
}


/* Bottom Div: Name_of_Entrant, Clap button, Upvote button Styling */
.BottomDiv{
    font-family: 'Oswald';
    justify-content: space-evenly;
}
.EntryName{
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.616);
}
.Entry button:focus{
    outline: 0;
}
.Entry button{
    border: 2px solid#000;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: -2rem;
    z-index: 10 ;
    cursor: pointer;
    transition: all 0.4s;
}
.Entry button:hover{
    box-shadow: 0px 0px 10px #000;
}
.Entry button:active{
    box-shadow: 2px 0px 7px #000;
}
.Upvotes_button ion-icon{
    margin: 0 0 0 -0.1rem;
}
.Upvotes{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.Upvote_count{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 40px;
    width: 3.8rem;
    height: 80%;
    background-color: #fff;
    padding-right: 1rem;
}


.FullEntry{
    margin: 0 auto;
    width: 95%;
    height: 10rem;
    background-position: center;
    background-size: cover;
}

