@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Open+Sans:wght@800&display=swap');
.Header{
    position: relative;
    background-image: linear-gradient(#E3016C,#fff);
    box-sizing: border-box;
    height: 10rem;
    width: 100%;
    margin: 0;
    display: block;
}

/* 30-Container */
.SectorThirtyContainer{
    position: absolute;
    z-index: 50;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFCD3C;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.589);
    border-radius: 0 0 150px 150px;
    display: block;
    justify-content: center;

    height: 7.5rem;
    width: 15rem;
}
.Sector{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-top: -5px;
    text-align: center;

    font-size: 1.5rem;
    letter-spacing: 0.28rem;
}
.Thirty{
    margin-top: -0.5rem;
}


/* THE FIX */
.AppBarZindexFix{
    z-index: 90;
    position: absolute;
    width: 100%;
}
/* THE FIX */




/* App-Bar */
.AppBar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    background-color: #fafafb;
    border-radius: 50px;
    border: 0.9px solid #ff912c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.4);

    height: 2.9rem;
    width: 19rem;
    top: 1.3rem;
}
ion-icon{
    margin-top: 0.2rem;
}
.NewsLetter{
    margin-left: 0.5rem;
    color: rgb(63, 63, 63);
}
.Menu{
    margin-right: 0.5rem;
    cursor: pointer;
}


/* City-Title:Gandhinagar */
.Gandhinagar{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 1.8rem;
    font-family: 'Cairo';
    letter-spacing: 0.3rem;
    animation: expandIn 3s;
}
.Red{
    color: rebeccapurple;
}

@keyframes expandIn{
    0%{
        opacity: 0;
        transform: translate(-50%,-80%);
    }
    100%{
        opacity: 1;
        transform: translate(-50%,0);    
    }
}