.EventSupport{
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    height: max-content;
    margin-bottom: 6.3rem;
}
.SupportIcon{
    border-radius: 150px;
    height: 4rem;
    width: 4rem;
    background-color: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.521);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}
.SupportIcon ion-icon{
    font-size: 3rem;
    font-weight: lighter;
}

.ToggleSupportInfo{
    color: rgb(0, 0, 0);
    border-radius: 20px;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    font-family: 'Oswald';
    font-weight: bolder;
    letter-spacing: 0.3rem;
    font-size: 1.2rem ;
    padding: 0.4em 1.4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.562);
    transition: all 0.1s;
}
.ToggleSupportInfo:active{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.301);
}
.Some{
    position: absolute;
    top: 105%;
    background-color: #fff;
    width: 100%;
    letter-spacing: 0.17rem;
    font-family: 'Open Sans';
    text-align: center;
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.877);
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-family: 'YellowTail';
}