.ComingSoon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald';
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 1.8rem;
    padding: 2rem 0.18rem;
    background-color: #fff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.61);
    border-radius: 30px;
    width: 80%;
    margin: 0.4rem auto;
}